<configuration>
    <include resource="console_appender.xml" />
    <include resource="file_appender.xml" />

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="LoggingInterceptor" additivity="false">
        <level value="INFO" />
        <appender-ref ref="FILE" />
    </logger>
</configuration>